body {
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #dde4ec;
    border-radius: 15px;
    padding: 10px;
}

.display-div {
    background-color: #25344b;
    border-radius: 10px;
    text-align: right;
}

.display-disabled {
    color: #112037;
}

.display-enabled {
    color: #b2b9be;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    justify-content: center;
    margin: 10px auto;
}

.calculator-button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #afb7ce;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calculator-button:hover {
    background-color: #949aaf;
}
